body {
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  height: 69px;
}

header img{
  display:block;
  height: 50px;
  padding-left:10px;
}
nav{
  border-bottom: 1px solid seashell;
  text-align: right;
}
.mission {
  background-image: url("resources/img-mission-background.jpg");
  height: 700px;
  width:1200px;
}
.locations {
  background-image: url("resources/img-locations-background.jpg");
}
.copyright{
  text-align: left;
  margin-left: 20px;
}
